
current_dir = File.dirname(__FILE__)

log_level                :info
log_location             STDOUT
node_name                'root'
client_key               "#{current_dir}/root.pem"
validation_client_name   'chef-validator'
validation_key           "#{current_dir}/validation.pem"
chef_server_url          'http://10.0.124.13:4000'
cache_type               'BasicFile'
cache_options( :path => "#{current_dir}/checksums" )
